<!DOCTYPE html>
<html>

<head>
  <title>Catalog</title>
</head>

<body>

  <div class="row">
    <div class="col-1">
        <div>
          <h2>Login as a Student</h2>
          <div>
              <input class="btn1" onClick="window.location.href='http://localhost:4200/#/pages/students'" type="button" value="Login"/> 
          </div>
        </div>
    </div>
    <div class="col-2">
      <div>
        <h2>Login as a Teacher</h2>
        <div>
              <input class="btn2" onClick="window.location.href='http://localhost:4200/#/pages/teachers'" type="button" value="Login"/> 
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>



</body>

</html>