<!DOCTYPE html>
<html>
<head>
    <title>Catalog</title>
</head>
<body>
<div class="row justify-content-center position-center">
    <div class="col-4 text-center">
        <div>
            <h2>Login as a Student</h2>
            <form (submit)="loginStudent($event)">
                <div>
                    <input class="btn1" type="submit" value="Login"/>
                </div>
            </form>
        </div>
    </div>
    <div class="col-4 text-center">
        <div>
            <h2>Login as a Teacher</h2>
            <form (submit)="loginTeacher($event)">
                <div>
                    <input class="btn2" type="submit" value="Login"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>