<form (submit)="loginUser($event)">
    <div class="input">
        <label>Username</label>
        <input type="text">
    </div>
    <div class="input">
        <label>Password</label>
        <input type="password" name="psw">
    </div>
    <div class="input">
        <input type="submit" value="Login">
    </div>
    <div class="row justify-content-center">
        <div class="col calert alert-danger text-center" role="alert" *ngIf="notFound">
            Student not found!
        </div>
    </div>

    <div class="row justify-content-center position-top">
        <button class="btn btn-secondary" (click)="back()">Back</button>
    </div>

</form>