<!DOCTYPE html>
<html>
<head>
  <title>Catalog</title>
</head>
<body>
  <div class="row">
    <div class="col-1">
        <div>
          <h2>Login as a Student</h2>
          <form (submit)="loginStudent($event)">
          <div>
              <input class="btn1" type="submit" value="Login"/> 
          </div>
        </form>
        </div>
    </div>
    <div class="col-2">
      <div>
        <h2>Login as a Teacher</h2>
          <form (submit)="loginTeacher($event)">
            <div>
                <input class="btn2" type="submit" value="Login"/> 
            </div>
          </form>
      </div>
    </div>
  </div>
</body>

</html>